<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <h1>All Listings</h1>
    <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-mb-2 row-col-sm-1">
        <% for(i of allListings){ %>
            <a href='/listings/<%=i.id%>' class="listing-link">
            <div class="card col card-listing" style="width: 20rem;">
                <img src="<%= i.image.url%>" class="card-img-top" alt="listing_img" style="height: 20rem;">
                <div class="card-img-overlay">mahi</div>
                <div class="card-body">
                  <p class="card-text">
                    <b><%= i.title %></b><br>
                    &#8377; <%=i.price.toLocaleString("en-IN")%>/- per Night<br>
                  </p>
                </div>
              </div>
            </a>
            <% } %>
    </div>
</body>

