/* body{
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
} */
body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

/* cards */
.card-listing{
    border: none !important; 
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important; 
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* .new{
    margin-left: 25%;
    width: 700px;
    background-color: aquamarine;
    display: inline-block;
    border-radius: 5px;
    border: 5px solid black;
    margin-bottom: 5px;
}

.new_heading{
    margin-left: 40%;
}

.new div input,.new div textarea{
    background-color: aqua;
}

.new div label{
    align-content: center;
}

.new div{
    display: inline-flex;
    width: 100%;
    margin-top: 5px;
}
.new div button{
    margin-left: 50%;
    margin-bottom: 5px;
} */


/* new page */
.add-btn{
    background-color: #fe424d !important;
    border: none;
}

/* edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none;
}

/* show page */
.show-img{
    height: 50vh;
    object-fit: cover !important;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}